@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Libertinus+Serif+Display&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Moon+Dance&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+IT+Moderna:wght@200&family=Roboto:ital,wght@0,100..900;1,100..900&family=Story+Script&family=Style+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    font-style: normal;

}

header {
    width: 100%;
    margin: 0 auto;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F5F5F5;
    font-size: 1rem;
    padding: .5vmax 4vmax;
    position: fixed;
    width: 100vw;
    z-index: 1;
}

.nav_1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
    font-size: .9em;
}

.nav_2 {
    width: 60vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 2vw;
}

.nav_2 a {
    text-decoration: none;
    padding: .5vmax 1vmax;
    color: black;
    font-weight: 400;
}

.nav_2 a:last-child {
    background-color: #e3ff00;
    padding: .8vmax 3vmax;
}

.nav_3 {
    display: none;
}

.nav_1 img {
    width: 6vmax;
}

/*                This Star for hero sectuion                */
.hero {
    background-image: url(./images/herobgImg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 85vmin;
    display: flex;
    justify-content: space-between;
    padding-left: 2.6rem;
}

.text_containt {
    align-self: center;
    font-size: 2.4rem;
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
}

.hero_sec_img {
    align-self: flex-end;
    background-color: rosybrown;
    width: 30vmax;
    height: 20vmax;
}

.hero .text_containt {
    color: white;
    padding-left: 2.6rem;
    width: 60vw;
    gap: .1rem;
}

.hero .text_containt p,
.about_section .text_containt p {
    font-size: .6em;
    /* width: 35vmax; */
    width: 70vmin;
    display: block;
    line-height: 2rem;
}

.hero .text_containt .text_containt_btn_div,
.about_section .text_containt .text_containt_btn_div {
    margin-top: 2.6rem;
}


.text_containt .text_containt_btn_div {
    display: flex;
    align-items: center;
    gap: 1vmax;
    font-size: .5em;
}

.text_containt_btn_div span:first-child {
    padding: .7rem;
    background-color: yellow;
    color: black;
}

.abo_ser_icon_div {
    font-size: .38em;
    color: black;
}

.projects_section {
    padding: 3rem;
}

.projects_section .text_containt {
    padding-block: 4rem;
    gap: 1.1rem;
}

.projects_section .text_containt p {
    font-size: 1.2em;
}

.projects_section .text_containt_btn_div span:first-child {
    background-color: black;
    color: white
}

.cards_div {
    display: flex;
    flex-direction: row;
    gap: 2vmax;
    justify-content: center;
}

.card_div {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-size: 1rem;
}

.cards_div img {
    width: 100%;
}

.card_div h5 {
    font-size: 1.1em;
    font-weight: 400;
}

.card_div p {
    font-size: .8em;
    font-weight: 300;
}

.about_section {
    background-image: url(images/about.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 2.6rem;
}

.about_section .text_containt {
    position: sticky;
    gap: .1rem;
    top: 3rem;
    padding: 2.6rem;
    color: white;
    border-left: 1px solid gray;
}

.about_section .text_containt .abo_ser_icon_div {
    padding: .5rem;
    color: white;
}

.about_section .text_containt h1 {
    font-size: 1.5em;
    font-weight: 400;
}

.clint_section {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 2rem;
    background-color: #F5F5F5;
}

.clint_img_div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clint_section img {
    width: 75%;
}

.more_project {
    padding: 3rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.more_project .text_containt {
    align-self: flex-start;
    gap: 1.8rem;
    padding-block: 3rem;
}

.more_project_div_2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    gap: 3vmax;
}

.more_project_card {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-size: 1.1rem;
    color: #1f1f1f;
}

.more_project_div_2::-webkit-scrollbar {
    display: none;
}

/* hsuifgfgfgyg */
.more_project_img_div,
.more_project_img_div img {
    width: 32vmax;
    height: 22vmax;
    object-fit: cover;
}

.contact_section {
    width: 100%;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    gap: 2rem;
    background-color: yellow;
}

.contact_section h3 {
    font-weight: 400;
}

.contact_section button {
    padding: .8rem 1.5rem;
    font-size: .5em;
    background-color: black;
    color: yellow;
}

.contact_section button:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
}

footer {
    background-color: #F5F5F5;
    font-size: 1rem;
}

.footer-container {
    padding: 3rem;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.ft_child {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
}

.ft_child img {
    width: 8vmax;
}

.ft_child ul {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    list-style: none;
}

.ft_child ul li a {
    text-decoration: none;
    color: black;
}

.footer_container_2 {
    display: flex;
    padding: 2rem;
    width: 100%;
    justify-content: space-between;
}

.footer_container_2 .ft_container_left,
.footer_container_2 .ft_container_right {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.ft_container_left li {
    text-align: center;
}

footer hr {
    width: 90vw;
    margin: 0 auto;
}

/* media querries for 800 px */
@media (max-width: 800px) {
    .hero {
        height: 70vmax;
    }

    .rotate {
        transform: rotate(90deg);
        transition: all .3s;

    }

    .contact_section {
        font-size: .8rem;
        text-align: center;
        gap: .5rem;
        padding: 1rem;
    }

    .contact_section button {
        font-size: 1rem;
    }

    footer {
        font-size: .7rem;
    }

    .footer-container {
        padding: 2rem .5rem;
        flex-wrap: wrap;
    }

    .ft_child {
        align-items: center;
        text-align: center;
    }

    .footer_container_2 {
        flex-wrap: wrap;
        gap: .5rem;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 650px) {
    nav{
        padding: 1vmax;
    }
    .nav_3 {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 2em;
    }
    .nav_2 {
        flex-direction: column;
        background-color: #F5F5F5;
        position: fixed;
        top: 6.8vh;
        left: 100vw;
        width: 100vw;
        transition: all .3s;
        padding: 2vmax;
    }

    .hero .text_containt,
    .about_section .text_containt {
        padding: 0;
        font-size: 2rem;
    }

    .cards_div .card_div {
        font-size: .8rem;
    }

    .clint_section {
        padding: .4rem;
    }

    .clint_section img {
        width: 80%;
    }

    .projects_section .text_containt {
        font-size: 2rem;

    }

    .about_section .text_containt {
        padding: 0;
    }

}